.container {
    margin-bottom: 100px;
}

.buy-now {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

.heading {
    margin-bottom: 30px;
}

.heading h3 {
    font-size: 1.5em;
}

.heading h4 {
    font-size: 1em;
    color: orange;
    cursor: pointer;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card h5 {
    font-size: 20px;
    padding-bottom: 10px;
}

.category-part h2 {
    text-align: center;
    padding-bottom: 100px;
}

.cat-item {
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.cat-sub-it {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 10px;
}